####################################
# Java
####################################
*.class
*.jar
*.war
*.ear

####################################
# Maven
####################################
target/

####################################
# Logs
####################################
*.log

####################################
# Temporary files
####################################
*.tmp
*.temp
*.swp
*.bak
*~

####################################
# Operating Systems
####################################

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Linux
.directory

####################################
# VS Code
####################################
.vscode/

####################################
# IntelliJ
####################################
.idea/
*.iml

####################################
# NetBeans
####################################
nbproject/private/
build/
dist/

####################################
# Eclipse
####################################
.settings/
.project
.classpath

####################################
# Generated protobuf Java classes
####################################
generated/

####################################
# Environment Variables
####################################
.env

####################################
# Dependency cache
####################################
.mvn/wrapper/maven-wrapper.jar

####################################
# Test Reports
####################################
surefire-reports/

####################################
# Coverage Reports
####################################
coverage/